# ===========================
# Python
# ===========================
backend/venv/
backend/__pycache__/
backend/**/*.pyc
*.py[cod]

# Environment files
.env
.env.*

# ===========================
# React / Node
# ===========================
frontend/node_modules/
frontend/dist/
frontend/.vite/

node_modules/
dist/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# macOS / Windows
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log
npm-debug.log*